In [1]:
# Import dependencies
import pandas as pd

In [15]:
# Read in file
file = "County_MedianListingPrice_AllHomes.csv"
cost_df = pd.read_csv(file, encoding="ISO-8859-1")
cost_df.head()

file_2 = "DaysOnZillow_County.csv"
days_df = pd.read_csv(file_2, encoding="ISO-8859-1")
days_df.head()

file_3 = "NC_income.csv"
income_df = pd.read_csv(file_3, encoding="ISO-8859-1")
income_df.head()

     County Mean Wage  Tier
0     Anson  $33,358    1.0
1  Beaufort  $37,611    1.0
2    Bertie  $30,317    1.0
3    Bladen  $35,419    1.0
4   Caswell  $33,090    1.0

In [7]:
nc_cost_df = housing_df.loc[housing_df['State'] == 'NC']
nc_cost_df.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
48,Mecklenburg County,NC,Charlotte-Concord-Gastonia,37,119,49,190000.0,194900.0,192000.0,194400.0,...,305000.0,309000.0,307995.0,305320.0,304900.0,304945.0,314500.0,314994.5,320000.0,319900.0
55,Wake County,NC,Raleigh,37,183,56,248000.0,245000.0,239900.0,239999.0,...,350000.0,353000.0,350000.0,349900.0,349900.0,345000.0,345000.0,349000.0,353500.0,350000.0
134,Guilford County,NC,Greensboro-High Point,37,81,135,159900.0,159900.0,159900.0,159900.0,...,189900.0,189995.0,189900.0,189900.0,191400.0,194775.0,196000.0,207990.0,212900.0,213245.0
183,Forsyth County,NC,Winston-Salem,37,67,184,154900.0,156700.0,159900.0,159900.0,...,195201.0,198567.5,195000.0,195900.0,197000.0,198170.0,201900.0,215000.0,224900.0,219900.0
198,Cumberland County,NC,Fayetteville,37,51,199,NaN,NaN,NaN,NaN,...,149900.0,149999.0,150000.0,150000.0,150000.0,155000.0,163000.0,165900.0,172500.0,169700.0

In [9]:
nc_df.shape

(89, 119)

In [11]:
len(nc_df['RegionName'].unique())

89

In [14]:
nc_days_df = days_df.loc[days_df['StateName'] == 'NC']
nc_days_df.head()

len(income_df)

,SizeRank,RegionID,RegionName,RegionType,StateName,2010-01,2010-02,2010-03,2010-04,2010-05,...,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04
48,49,3102,Mecklenburg County,County,NC,151.0,166.0,151.0,155.0,132.0,...,54.0,56.0,56.0,63.0,63.0,67.0,78.0,74.0,60.0,55.0
55,56,324,Wake County,County,NC,185.0,169.0,156.0,158.0,157.0,...,54.0,51.0,57.0,59.0,58.0,58.0,70.0,64.0,53.0,53.0
133,134,2312,Guilford County,County,NC,155.0,160.0,153.0,166.0,160.0,...,61.0,67.0,61.0,74.0,68.0,65.0,86.0,90.5,66.0,61.0
182,183,1712,Forsyth County,County,NC,172.5,196.0,188.0,231.0,186.0,...,60.0,58.0,66.0,70.0,73.0,95.0,80.0,95.0,60.0,55.0
197,198,2912,Cumberland County,County,NC,143.0,91.0,107.0,133.0,110.0,...,96.0,105.5,113.0,115.0,114.0,112.0,115.0,105.0,103.0,82.0

In [18]:
# Clean up income_df (get rid of dollar signs, commas and change to integer type)
income_df['Mean Wage'] = income_df['Mean Wage'].str.replace('$', '')
income_df['Mean Wage'] = income_df['Mean Wage'].str.replace(',', '')
income_df['Mean Wage'] = income_df['Mean Wage'].astype(int)
income_df.head()

     County  Mean Wage  Tier
0     Anson      33358   1.0
1  Beaufort      37611   1.0
2    Bertie      30317   1.0
3    Bladen      35419   1.0
4   Caswell      33090   1.0