In [58]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
County_MedianListingPrice_AllHomes = "data/County_MedianListingPrice_AllHomes.csv"
DaysOnZillow_County = "data/DaysOnZillow_County.csv"
Sale_Counts_County = "data/Sale_Counts_County.csv"



# Read the Mouse and Drug Data and the Clinical Trial Data
Price = pd.read_csv(County_MedianListingPrice_AllHomes, encoding="ISO-8859-1")
Days = pd.read_csv(DaysOnZillow_County, encoding="ISO-8859-1")
Sale = pd.read_csv(Sale_Counts_County, encoding="ISO-8859-1")



Price = Price.dropna(how='all')
Days = Days.dropna(how='all')
Sale = Sale.dropna(how='all')

In [59]:
#Remove Columns
Sales = Sale.drop(labels=['RegionID','StateName','SizeRank','2008-03', '2008-04', '2008-05', '2008-06', '2008-07', 
                          '2008-08', '2008-09', '2008-10', '2008-11', '2008-12', '2009-01',
                          '2009-02', '2009-03', '2009-04', '2009-05', '2009-06', '2009-07', 
                          '2009-08', '2009-09', '2009-10', '2009-11', '2009-12'], axis=1)

Prices = Price.drop(labels=['State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS','SizeRank'],axis=1) 
Days = Days.drop(labels=['SizeRank', 'RegionID', 'RegionType', 'StateName'],axis=1)

#sale_.head(1)

In [60]:
#Add extra column for each table

Days['Type']='Day'
Sales['Type']='Sale'
Prices['Type']='Price'

In [61]:
# 

PD = Prices.append(Days, ignore_index=True)
PDM = PD.append(Sales, ignore_index=True)
PDM.shape

(5919, 115)

In [63]:
#Merge two cells in one
PDM["County"] = PDM["RegionName"].map(str) + PDM["Type"]

In [64]:
#tanspose table
PDM.set_index(['County'],inplace=True)
PDM_ = PDM.transpose()


PDM_.head(5)

County,Los Angeles CountyPrice,Cook CountyPrice,Harris CountyPrice,Maricopa CountyPrice,San Diego CountyPrice,Orange CountyPrice,Kings CountyPrice,Miami-Dade CountyPrice,Dallas CountyPrice,Queens CountyPrice,...,Mineral CountySale,McMullen CountySale,San Juan CountySale,Banner CountySale,Yakutat BoroughSale,Thomas CountySale,McPherson CountySale,Petroleum CountySale,Blaine CountySale,Kenedy CountySale
2010-01,399000,244900,149900,179900,399000,550000,459000,NaN,159900,409000,...,0,0,0,0,0,0,0,0,0,0
2010-02,389000,249000,152900,175900,399000,529000,469000,NaN,159990,400000,...,0,0,2,0,0,0,0,0,0,0
2010-03,399000,249000,154755,174900,399500,510000,459000,NaN,164905,375000,...,0,0,0,0,0,0,0,0,0,0
2010-04,398800,249000,154900,169900,399990,519000,459000,NaN,169000,375000,...,0,0,1,0,0,0,0,0,0,0
2010-05,399000,245000,155000,165000,400000,519900,450000,NaN,168000,375000,...,0,0,0,0,0,0,0,0,0,0

In [65]:
PDM.shape

(5919, 115)

In [50]:
# M_table = Sales.merge(Prices, on=['RegionName'], suffixes=(' Sale', ' Price'))
# M_table = M_table.merge(Days, on=['RegionName'], suffixes=('Days', ''))


# columnnames = Days.columns.tolist()
# for col in columnnames:
#     if col != "RegionName":
#         M_table = M_table.rename(columns={col: f"{col} Day"})
        
# M_table.head(5)